.invoice {
    background-color: #f6f9fc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    max-width: 600px; 
}

.customer-info {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.customer-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.customer-info .element {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: row; 
    margin-bottom: 10px;
}

.customer-info span {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-right: 10px; 
}

.customer-info p {
    font-size: 16px;
    color: #555;
    margin: 0;
}


.item-details {
    display: flex;
    flex-direction: column;
    margin: 20px auto; 
    text-align: center; 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; 
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.invoice button {
    background: #e94560;
    padding: 13px 40px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 20px auto;
    display: block; 
}

.invoice button:hover {
    background: #d0334a;
}